<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ionic</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <br>

    <ion-row>
      <ion-col width-50 style="text-align: center">
  
  <button ion-button primary (click)="adicionarAlunos()">Carregar Alunos</button>
  <button ion-button primary (click)="buttonClick()">Esconder</button>
  <button ion-button primary (click)="limparAlunos()">Limpar</button>
  <br>
  <button ion-button primary (click)="showMessage()">Mostrar Mensagem</button>
  <button ion-button primary (click)="exibirToast()">Mostrar Toast</button>
  <br>
  <button ion-button primary (click)="LoginPage()">Efetuar Login</button>

</ion-col>
</ion-row>

 <div *ngIf="exibirConteudo">
   <ion-list>
     <ion-item *ngFor="let aluno of listaAlunos">
        {{aluno.nome}}
     </ion-item>
   </ion-list>
 </div>

</ion-content>