<ion-header>
  <ion-navbar>
    <ion-title>Cardápio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button primary (click)="buttonclick()">Recolher</button>

  <div *ngIf="ExibirDados">
    <ion-list>
      <ion-item >

        <ion-label>Tamanho</ion-label>
          <ion-select  [(ngModel)]="idProduto" (ionChange)="click()">
            <ion-option value="{{tamanho.id}}" *ngFor="let tamanho of ListaTamanhos">{{tamanho.name}}</ion-option>
          </ion-select>

      </ion-item>
    </ion-list>
     <ion-list>
      <ion-item *ngFor="let Sabores of ListaSaboresPrecos">
          {{Sabores.sabor}}               <ion-note item-end color="dark">  R$: {{Sabores.preco}},00</ion-note>

      </ion-item>
    </ion-list>
  </div>

  <br><br>
  <button ion-button primary (click)="dadosEntrega()">Dados da entrega</button>
</ion-content>